<div class="row" *ngIf="puestos" >
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">Empresa</th>
                    <th scope="col"><span style="color: blue;">Editar</span>/<span style="color: red;">Eliminar</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let puesto of puestos">
                    <ng-container *ngIf="puesto.disponible; else disponible">
                        <td><span style="color: green;">Diponible</span></td>
                    </ng-container>
                    <ng-template #disponible>
                        <td><span style="color: red;">No Disponible</span></td>
                    </ng-template>
                    <td>{{puesto.puesto}}</td>
                    <td>{{puesto.empresa}}</td>
                    
                    <td>
                        <i class="bi bi-pencil-square" routerLink="/Puesto/detalle/{{puesto.id}}">Editar</i>/
                        <i class="bi bi-trash" (click)="eliminaPuesto(puesto)">Eliminar</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
